extends layout 

block content
  
  
    
    section.hero
      h1 Your destination for fitness and wellness
      p Join Us Today and Start Your Journey Towards a Healthier You
      a.cta-button(href="/signin") Join Us

    section.about
      h2 About Us
      p At GymBuddy, we believe that fitness is not just a destination but a lifelong journey. Join our community today and take the first step towards a healthier, happier you. Whether your goal is to build muscle, lose weight, improve endurance, or simply stay active, we have the resources and support you need to succeed.Don't wait any longer; it's time to unleash your potential. Join GymBuddy and become a part of the fitness revolution! Together, we'll sculpt the best versions of ourselves and inspire others to do the same. Get started now!

    section.services
      h2 Our Services
      .service
        img(src="/images/personal_training.jpg", alt="Personal Training")
        h3 Personal Training
        p Our platform offers access to certified fitness trainers, nutritionists, and experienced athletes who are here to provide you with personalized advice and guidance. Whether you're a beginner or an advanced athlete, our experts will help you reach your fitness objectives.
      .service
        img(src="/images/group_classes.jpg", alt="Group Classes")
        h3 Group Classes
        p Join live webinars and Q&A sessions with fitness experts, where you can ask questions and gain insights on various fitness topics. These interactive sessions keep you informed about the latest trends and research.
      .service
        img(src="/images/nutrition_coaching.jpg", alt="Nutrition Coaching")
        h3 Nutrition Coaching
        p Nutrition plays a crucial role in achieving your fitness objectives. We provide you with expert-backed nutrition advice, meal plans, and recipes to complement your workouts. Learn how to fuel your body for optimal performance and recovery.

    section.blog
      h2 Latest Blog Posts
      .blog-post
        img(src="/images/motivated.jpg", alt="How to Stay Motivated")
        h3 How to Stay Motivated
        p Discover real-life success stories from members of our community who have transformed their lives through dedication and hard work. Let their journeys inspire and remind you that anything is possible with the right mindset and support.
        a(href="#") Read More
      .blog-post
        img(src="/images/healthy_diet.jpg", alt="Healthy Eating Tips")
        h3 Healthy Eating Tips
        p protein-rich smoothies, lean meats, whole grains, and plenty of fruits and vegetables. Stay hydrated with water and consider post-workout protein shakes. Portion control, avoiding processed foods, and consulting a dietitian for personalization are key tips for success.
        a(href="#") Read More

    section.contact
      h2 Contact Us
      p Have questions or need assistance? Reach out to us!
      a.cta-button(href="#") Contact Us

